<html>
    <head>
        <title>New bluray match in medialibrary : {{ data.title }}</title>
    </head>
    <body>
        <h1>{{ data.title }}</h1>
        <p>Isan :  {{ data.isan }}</p>
        <p>Director :  {{ data.director }}</p>
        <p>Release date : {{ data.releaseDate }}</p>
        <p>Summary : {{ data.summary }}</p>
        <p>Duration : {{ data.duration }}</p>
        <p>Price :  </p>{{ data.price }}
    </body>

</html>