<html>
    <head>
        <title>New book match in medialibrary : {{ data.title }}</title>
    </head>
    <body>
        <h1>{{ data.title }}</h1>
        <p>Isbn :  {{ data.isbn }}</p>
        <p>Author :  {{ data.author }}</p>
        <p>Published date : {{ data.publishedDate }}</p>
        <p>Page number : {{ data.pageNumber }}</p>
        <p>Price :  </p>{{ data.price }}
    </body>

</html>