{% extends 'default/admin.html.twig' %}

{% block contenu %}
    <h1>Alert</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alert.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ alert.email }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ alert.type }}</td>
            </tr>
            <tr>
                <th>Keyword</th>
                <td>{{ alert.keyword }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_alert_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_alert_edit', { 'id': alert.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
