{% extends 'base.html.twig' %}

{% block body %}
    <h1>Books list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Isbn</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisheddate</th>
                <th>Pagenumber</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('admin_book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{% if book.publishedDate %}{{ book.publishedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ book.pageNumber }}</td>
                <td>{{ book.price }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_book_show', { 'id': book.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_book_edit', { 'id': book.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_book_new') }}">Create a new book</a>
        </li>
    </ul>
{% endblock %}
